
.tabla{
    margin: 50px;
    width: 200px;
    height: 200px;
    Border-spacing:0;
    background: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-color: rgb(10, 10, 14);
}

.tabla td{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    
    width: 100px;
    padding: 5px 50px;
}

.titulo{
    background-color: #ff6619de;
    font-style: italic;
    color: blue;
}

.titulo td{
    color: black;
    text-align: center;
}

.datos td{
    color: black;
    text-align: center;
}
.tablausu{
    margin: 50px;
    width: 200px;
    height: 200px;
    Border-spacing:0;
    background: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-color: rgb(10, 10, 14);
}
.tablausu td{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
    width: 30px;
    padding: 5px 5px;
}
