.navigation.active{
    width: 60px;
}

.navigation{
    /* position: fixed; */
    width: 300px;
    max-width: 300px;
    height: 98%;
    background-color: #e57816 !important;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1000;
}

.navigation ul{
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
}

.navigation ul li{
    position: relative;
    left:-40px;
    width: 22vw;
}

.navigation ul li:hover{
    background: rgb(245, 187, 78);
}

.navigation ul li:nth-child(1){
    margin-bottom: 20px;
}

.navigation ul li:nth-child(1):hover{
    background: transparent;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa{
    color: #fff;
    font-size: 24px;

}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}
