*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image:url(../assets/sena.jpg);
    margin: 0px;
    padding: 0px;
}
.papadepapa{
    background: rgba(252, 176, 15 ,.8) ;
    
    margin: 0px;
    padding: 20px;
    height: 617px;
    
}
input{
    margin: 20px;
    border:none;
    border-bottom: gray solid 2px;
    margin-left: 50px;
    display: inline;
    width: 190px;
}
input:focus{
    outline:  none;

 
}
select{
    margin: 20px;
    margin-left: 50px;
    border: none;
    border-bottom: gray solid 2px;
}
select:focus{
    outline: none;
}
.papa{
    background: white;
    padding: 20px;
    width: 63%;
    margin-left: 240px;
}
.papa h1{
    text-align: center;
}
.sele1{
    margin-left: 100px;
}
.sele2{
    margin-left: 50px;
}
.sele2 input{
    margin-left: 0px;
}
.foto{
    width: 350px;
}
.sele3 select{
    width: 190px;
}
.sele5 input{
    width: 190px;
}
.sele5 select{
    width: 190px;
}
.sele4 input{
    width: 720px;
    height: 40px;
    border: black solid 1px;
    
}
.sele4 input:hover{
    background: orange;
    color:white;
    
    cursor: pointer;
}