html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Helvetica;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, auto);
  grid-template-areas: "header header header" "banner banner banner" "servicios servicios servicios" "nosotros nosotros nosotros" "conctacto conctacto conctacto" "organizaciones organizaciones organizaciones" "footer footer footer";
}

header {
  margin: 0;
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10vh 0 0 0;
}
header nav {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  padding: 1rem 0;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
header nav a {
  color: #ffffff;
  text-decoration: none;
}
header .logo img {
  width: 12vw;
  height: 12vh;
}
header .opciones {
  margin: 0 2vw 0 0;
  width: 15%;
  display: flex;
  justify-content: space-between;
}
header .opciones button {
  height: 6vh;
  width: 6rem;
  border-radius: 4rem;
  border: none;
  cursor: pointer;
}
header .opciones .iniciosesion {
  background-color: #ff7402;
  color: #ffffff;
}
header .opciones .registrate {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ff7402;
  border: 1px solid #ff7402;
}

.banner {
  grid-area: header/banner;
  padding: 0;
  margin: 0;
  z-index: -10;
  width: 100%;
  height: 93.8vh;
  max-width: 100%;
  border-bottom: 1.5rem solid #e24800;
}
.banner img {
  width: 100%;
  max-width: 100%;
  height: 90vh;
  z-index: -200;
  filter: brightness(50%);
  padding: 0;
  margin: 0;
}

.servicios {
  grid-area: servicios;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: auto;
}
.servicios .cards {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.servicios .cards .card {
  display: flex;
  flex-direction: column;
}
.servicios .cards .card img {
  width: 100%;
  max-width: 100%;
}
.servicios .cards .card button {
  margin: auto;
  width: 50%;
  border: none;
  outline: 0;
  cursor: pointer;
  background-color: #e24800;
  color: #ffffff;
}

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: nosotros;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
}
.nosotros .nosotrosconte {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.nosotros .nosotrosconte p {
  width: 40%;
}
.nosotros .nosotrosconte figure {
  width: 50%;
}
.nosotros .nosotrosconte figure img {
  width: 100%;
  max-width: 100%;
}
.nosotros article {
  font-size: 1.5rem;
  color: #ff9100;
}

.contactenos {
  grid-area: conctacto;
  width: 100%;
  background-image: url("../assets/cursos-virtuales-sena.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}
.contactenos .cont {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.contactenos .cont form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #ffffff;
}
.contactenos .cont form h2 {
  text-align: center;
}
.contactenos .cont form input[type=text],
.contactenos .cont form input[type=email] {
  width: 100%;
  height: 2rem;
  margin: 0.5rem 0;
}
.contactenos .cont form a {
  text-decoration: none;
  margin: 0.5rem 0;
}
.contactenos .cont form textarea {
  width: 100%;
  height: 6rem;
  resize: none;
}
.contactenos .cont form .terminos {
  display: flex;
  flex-direction: row;
}
.contactenos .cont form .terminos label {
  cursor: pointer;
}
.contactenos .cont form input[type=submit] {
  align-self: center;
  border: none;
  border-radius: 3rem;
  background-color: #ff9100;
  color: #ffffff;
  cursor: pointer;
  height: 2rem;
  margin: 1rem 0;
  outline: 0;
  width: 70%;
}

.organizaciones {
  grid-area: organizaciones;
  background-color: #f38200;
  width: 100%;
}
.organizaciones .content {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.organizaciones .content figure {
  cursor: pointer;
  width: 20%;
  max-width: 100%;
}
.organizaciones .content figure img {
  max-width: 100%;
}
.organizaciones .content .facebook img {
  height: 29px;
}

footer {
  background-color: #f38200;
  font-size: 2rem;
  color: #ffffff;
  height: 3rem;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
