html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Helvetica;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, auto);
  grid-template-areas: "header header header" "banner banner banner" "servicios servicios servicios" "nosotros nosotros nosotros" "conctacto conctacto conctacto" "organizaciones organizaciones organizaciones" "footer footer footer";
}

header {
  margin: 0;
  grid-area: header;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10vh 0 0 0;
}
header nav {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  padding: 1rem 0;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
header nav a {
  color: #ffffff;
  text-decoration: none;
}
header .logo img {
  width: 150px;
  height: 150px;
  margin-top: -50px;
  margin-left: 120px;
}
header .opciones {
  margin: 0 2vw 0 0;
  width: 15%;
  display: flex;
  justify-content: space-between;
}
header .opciones button {
  height: 6vh;
  width: 6rem;
  border-radius: 4rem;
  border: none;
  cursor: pointer;
}
header .opciones .iniciosesion {
  background-color: #ff7402;
  color: #ffffff;
}
header .opciones .registrate {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ff7402;
  border: 1px solid #ff7402;
}
.container h3{
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
  font-size: 80px;
  margin-top: -400px;
  width: 80vw;
  color: white;
}
/* login */
.login-box{
  width: 320px;
  height: 420px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 57%;
  left: 85%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  transition: 0.10s;
  visibility: hidden;
  opacity: 0;
}
.login-box-activo{
  visibility: visible;
  opacity: 1;
}
.login-box .avatar{
  width: 110px;
  height: 110px;
  border-radius: 30%;
  position: absolute;
  top: -65px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #FE6E00;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background:  white;;
  color: black;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.login-box a:hover {
  color: #fff;
  text-align:  left;
}
.login-box .cerrar{
  margin-left: 260px;
  position: absolute;
  margin-top: -370px;
  cursor: pointer;
}

.banner {
  grid-area: header/banner;
  padding: 0;
  margin: 0;
  z-index: -10;
  width: 100%;
  height: 93vh;
  max-width: 100%;
  border-bottom: 15rem solid #e24800;
}
.banner img {
  width: 100%;
  max-width: 100%;
  height: 90vh;
  z-index: -200;
  filter: brightness(50%);
  padding: 0;
  margin: 0;
}

.servicios {
  grid-area: servicios;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  margin: auto;
  text-align: justify;
}
.servicios h2{
  margin-left: 0px;
  font-size: 50px;
  margin-top: 50px;
  color: black;
}
.servicios p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.servicios .cards {
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: justify;
  
}
.servicios .cards .card {
  display: flex;
  flex-direction: column;
}
.servicios .cards .card img {
  width: 100%;
  max-width: 100%;
}
.servicios .cards .card button {
  margin: auto;
  width: 50%;
  border: none;
  outline: 0;
  cursor: pointer;
  background-color: #e24800;
  color: #ffffff;
  height: 30px;
  border-radius: 30px;
  font-size: 18px;
}

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: nosotros;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 800px;
}
.nosotros h2{
  margin-left: 0px;
  font-size: 50px;
  margin-top: 50px;
  color: black;
}
.nosotros .nosotrosconte {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.nosotros .nosotrosconte p {
  width: 55%;
  font-size: 20px;
}
.nosotros .nosotrosconte figure {
  width: 50%;
}
.nosotros .nosotrosconte figure img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  opacity: 0.6;
}


.contactenos {
  grid-area: conctacto;
  width: 100%;
  background-image: url("../assets/cursos-virtuales-sena.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 20px;
  height: 600px;
}
.contactenos h4{
  margin-left: -200px;
  font-size: 50px;
  margin-top: 30px;
  color: black;
}
.contactenos p{
  width: 600px;
  margin-left: 60px;
  margin-top: -30px;
}
.contactenos .cont {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.contactenos .cont form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 15px;
  height: 520px;
  margin-top: -120px;

}
.contactenos .cont form h2 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 0px;
}
.contactenos .cont form input[type=text],
.contactenos .cont form input[type=email] {
  width: 100%;
  height: 2rem;
  margin: 0.5rem 0;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid #fff;
}
.contactenos .cont form a {
  text-decoration: none;
  margin: 0.5rem 0;
  color: white;
}
.contactenos .cont form textarea {
  width: 100%;
  height: 6rem;
  resize: none;
  background: transparent;
  border: 1px solid #fff;
}
.contactenos .cont form .terminos {
  display: flex;
  flex-direction: row;
}
.contactenos .cont form .terminos label {
  cursor: pointer;
  color: white;
}
.contactenos .cont form input[type=submit] {
  align-self: center;
  border: none;
  border-radius: 3rem;
  background-color: #ff9100;
  color: #ffffff;
  cursor: pointer;
  height: 2rem;
  margin: 1rem 0;
  outline: 0;
  width: 70%;
  font-size: 20px;
}

.organizaciones {
  grid-area: organizaciones;
  background-color: #f38200;
  width: 100%;
}
.organizaciones .content {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.organizaciones .content figure {
  cursor: pointer;
  width: 30%;
  max-width: 100%;
}
.organizaciones .content figure img {
  max-width: 100%;
}
.organizaciones .content .facebook img {
  height: 60px;
}

footer {
  background-color: #f38200;
  font-size: px;
  color: #ffffff;
  height: 2rem;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-top-btn{
  background-color: #f38200;
  cursor: pointer;
  position: fixed;
  bottom: 2vh;
  right: calc( 2rem + 1vw );
  z-index: 999;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  outline: 0; 
  border: none;
  color:#000000;
  transition: all 0.3s ease-out;
}

.scroll-top-btn:hover{
  background-color: #FAB50A ;
  color:#ffffff;
}
.hidden{
  visibility: hidden;
  opacity: 0;
}

.mapa{
  position: absolute;
  top:1800px;
  left: 200px;
  border: #f38200 solid 1px;
}

/*# sourceMappingURL=styles.css.map */
