main{
    grid-area: main;
    width: 100%;
    height: 100%;
}

.cards{
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    padding: auto;
    margin: 2rem 1rem;
    width: 95%;
}
.cards .card{
    border-radius: 10px;
    border: thin solid #000000;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12rem;
    padding: 0 1rem;
}
.cards .card .botones{
    display: flex;
    justify-content: space-between;
}
.cards .card .botones button{
    cursor: pointer;
    height:2rem;
    border: none;
    outline: 0;
}
.cards .card .botones .aparecer{
    background-color: #00ff00;
    color:#ffffff;
}
.cards .card .botones .cerrar{
    background-color: red;
    color:#ffffff;
}

