.topbar{
    grid-area: header;
    /* padding: 0 3rem; */
}
.navigation{
    grid-area: banner;
    max-width: 20vw;
}

main{
    /* width: 80vw; */
    /* width: ; */
    width: 100%;
    grid-area: main;
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: auto;
    gap: 2rem 0;
}
.form1 {
    margin:auto;
    width: 80%;
}
