main{
    grid-area: main;
    width: 100%;
    height: 100%;
}

.cards{
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    padding: auto;
    margin: 2rem 1rem;
    width: 95%;
}
.cards .card{
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12rem;
    padding: 0 1rem;
}
.cards .card h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: gray;
}
.cards .card .botones{
    display: flex;
    justify-content: space-evenly;
    margin-top: -50px;
}
.cards .card .botones button{
    cursor: pointer;
    height:2rem;
    border: none;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards .card .botones .aparecer{
    background-color: #ff6b00;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: white;
}
.cards .card .botones .fa{
    font-size: 40px;
    margin-top: 30px;
    color: white;
    background: transparent;
}
.cards .card .botones .cerrar{
    background-color: red;
    color:#ffffff;
}


/*prueba css*/
.form4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    /* margin:auto; */
    width: 40%;
}

.form4 .formulario{
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 1vh 0;
}
.form4 .formulario input{
    height: 2rem;
    margin: 1vh 0;
    width: 100%;
}
.form4 .formulario input[type="submit"]{
    background-color: #ffffff;
    border: thin solid #FF6719;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.form4 .formulario input[type="submit"]:hover{
    background: #FF6719;
    border: none;
    color: #ffffff;
}


.form4{
    width: 400px;
    height: 200px;
    border-radius: 3px;
    background: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.form4 p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    width: 100px;
    padding: 5px 30px;
}
.form4 p[type='title']{
    width: 100%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    padding: 10px;
}
.form4 .linea{
    width: 100%;
    border: 1px lightgray solid;
    margin-top: -20px;
}
.form4 input[type='number']{
    width: 30px;
    height: 20px;
}
.form4 input{
    margin-left: 0px;
    width: 250px;
    height: 20px;
}
.form4 p[type='nom']{
    width: 200px;
    margin-left: 70px;
    margin-top: -70px;
}






.form5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    /* margin:auto; */
    width: 40%;
}

.form5 .formulario{
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 1vh 0;
}
.form5 .formulario input{
    height: 2rem;
    margin: 1vh 0;
    width: 100%;
}
.form5 .formulario input[type="submit"]{
    background-color: #ffffff;
    border: thin solid #FF6719;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.form5 .formulario input[type="submit"]:hover{
    background: #FF6719;
    border: none;
    color: #ffffff;
}


.form5{
    width: 400px;
    height: 200px;
    border-radius: 3px;
    background: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.form5 p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    width: 100px;
    padding: 5px 30px;
}
.form5 p[type='title']{
    width: 100%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    padding: 10px;
}
.form5 .linea{
    width: 100%;
    border: 1px lightgray solid;
    margin-top: -20px;
}
.form5 input[type='number']{
    width: 30px;
    height: 20px;
}
.form5 input{
    margin-left: 0px;
    width: 250px;
    height: 20px;
}
.form5 p[type='nom']{
    width: 200px;
    margin-left: 70px;
    margin-top: -70px;
}





.form{
    width:100%;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display:none; */
    margin: 0 auto;
}
.form1, .form2, .form3, .form4, .form5{
    display: none;
}
.form img{
    border-radius: 50%;
}

.form form{
    display: flex;
    width: 80%;
    display:grid;
    grid-template-columns: repeat(2 , auto);
    gap:0 4rem;
}
.form form p{
    width:80%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.form form label{
    display: block;
}
.form form input{
    /* width:100%; */
     width:20rem;
    height: 2rem; 
    outline: 0;
}
.form form select{
    width: 20rem;
    height: 2rem;
    outline: 0;
}
.form1 form input[type="submit"]{
    border: none;
    outline:0;
    margin:0 70%;
    align-self: center;
    grid-column-start: 2;
    background-color: #e57816;
    color: #ffffff;
    cursor:pointer;
    font-size: 20px;
}

.form1, .form2, .form3, .form4, .form5{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 10rem 15rem 25rem;
    display:none;
}

.form1 form{
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
} 

.form1 form input{
    width: 20rem;
    height: 2rem;
}

.form2 form input[type="submit"]{
    border: none;
    outline:0;
    width: 10rem;
    background-color: #e57816;
    color: #ffffff;
    cursor:pointer;
    margin: 0;
}
.visible{
    /* display: block; */
    display: flex;
    /* justify-self: center; */
}
.invisible{
    display: none;
}

.tablas table td .acciones,
table .acciones {
    width: 7rem;
}

.tablausu .acciones{
    width: 1rem;
    
}



.datos td img{
    cursor: pointer;
    width: 4vh;
    height: 4vh;
    max-height: 4vh;
    max-width: 4vh;

}

.tablausu .datos td img{
    cursor: pointer;
    width: 85px;
    height: 85px;
}

.datos .imgs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.alert{
    background-color: rgba(0, 0, 0, .4);
    width: 100vw;
    height: 100%;
    position:fixed;
    top: 0;
    bottom: 0;
    z-index: 100000;
    display: none;
}
.alert.ver{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formmodal{
    background-color: #ffffff;
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.9s linear;
}

.formmodalusuario{
    background-color: #ffffff;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.9s linear;
}

.formmodaltipos{
    background-color: #ffffff;
    width: 40%;
    height: 31%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.9s linear;
}

.formmodal.desplazar{
    transform: translateY(-100vh); 
}
.formmodal input{
    width: 60%;
    height: 2rem;
    margin: 2vh 0;
}
.formmodal select {
    width: 60%;
    height: 2rem;
    margin:0.5vh 0;
}
.formmodal .cerrarmodal{
    border: none;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    align-self: flex-end;
    width: 3rem;
    height: 3rem;
    transform: translate(1.5vw, -21vh);
}
.formmodal .dispocerrar{
    align-self: flex-end;
    transform: translate(1vw, -2vh);
}
.formmodal input[type="submit"]{
    border: none;
    background-color: #224aa0;
    color: #ffffff;
    cursor: pointer;
    margin: 1rem 0;
    outline: 0;
    width: 30%;

} 

.crearusuario{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: 100%;
}
.crearusuario div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.crearusuario div input,
.crearusuario input[type="submit"],
.crearusuario div select{
    width:60%;
    height: 2rem;
}
.crearusuario input[type="submit"]{
    background-color: #e57816;
    border: none;
    cursor:pointer;
    color:#ffffff;
    margin:10vh auto;
    grid-column:1 / 3;
    /* column-span: all; */
    width: 25vw;
} 


