main{
    grid-area: main;
    width: 100%;
    height: 100%;
}

.cards{
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
    padding: auto;
    margin: 2rem 1rem;
    width: 95%;
}
.cards .card{
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12rem;
    padding: 0 1rem;
}
.cards .card h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: gray;
}
.cards .card .botones{
    display: flex;
    justify-content: space-evenly;
    margin-top: -50px;
}
.cards .card .botones button{
    cursor: pointer;
    height:2rem;
    border: none;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards .card .botones .aparecer{
    background-color: #ff6b00;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: white;
}
.cards .card .botones .fa{
    font-size: 40px;
    margin-top: 30px;
    color: white;
    background: transparent;
}
.cards .card .botones .cerrar{
    background-color: red;
    color:#ffffff;
}
.form{
    width:100%;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display:none; */
    margin: 0 auto;
}
.form img{
    border-radius: 50%;
}

.form form{
    display: flex;
    width: 80%;
    display:grid;
    grid-template-columns: repeat(2 , auto);
    gap:0 4rem;
}
.form form p{
    width:80%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.form form label{
    display: block;
}
.form form input{
    /* width:100%; */
     width:20rem;
    height: 2rem; 
    outline: 0;
}
.form form select{
    width: 20rem;
    height: 2rem;
    outline: 0;
}
.form1 form input[type="submit"]{
    border: none;
    outline:0;
    margin:0 70%;
    align-self: center;
    grid-column-start: 2;
    background-color: #e57816;
    color: #ffffff;
    cursor:pointer;
    font-size: 20px;
}

.form1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 2rem 0;
    display:none;
}

.form1 form{
    /* background-color: #ffffff; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0 4rem;
} 

.form1 form input{
    width: 20rem;
    height: 2rem;
}

.form2 form input[type="submit"]{
    border: none;
    outline:0;
    width: 10rem;
    background-color: #e57816;
    color: #ffffff;
    cursor:pointer;
}
.visible{
    /* display: block; */
    display: flex;
    justify-self: center;
}
.invisible{
    display: none;
}

.tablas table td .acciones,
table .acciones {
    width: 7rem;
}

.tablausu .acciones{
    width: 1rem;
    
}



.datos td img{
    cursor: pointer;
    width: 4vh;
    height: 4vh;
    max-height: 4vh;
    max-width: 4vh;

}

.tablausu .datos td img{
    cursor: pointer;
    width: 85px;
    height: 85px;
}

.datos .imgs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}