.banner{
    grid-area: header / banner;
    padding: 0;
    margin: 0;
    z-index: -10;
    width: 100%;
    height: 93.8vh;
    max-width: 100%;
    border-bottom: 1.5rem solid #e24800 ;
    // background-color: rgba($color: #000000, $alpha: 0.6);
    img{
        width: 100%;
        max-width: 100%;
        height: 90vh;
        z-index: -200;
        filter: brightness(50%);
        padding: 0;
        margin: 0;
    }
}