.carousel{
    grid-area: carousel;
    margin: 0;
    padding: 0;
    height: 700px;
    img{
        width: 100%;
        max-width: 100%;
        height: 700px;
    }
    p{
        transform: translateY(-700px);
        font-size: 3rem;
        color:var(--white-color);
        text-align: center;
    }
}