.contactenos{
    grid-area: conctacto;
    width: 80%;
    margin: auto;
    .cont{
        display: flex;
        justify-content: space-between;

        article{
            width: 40%;
        }
        form{
            h2{
                color: #139929;
                text-align: center;
            }
            label{
                margin: 0.7rem 0;
            }
            input[type="text"], 
            input[type="email"]{
                width: 100%;
                height: 30px;
                border: 1px solid var(--black-color);
            }
            textarea{
                width: 100%;
                height: 100px;
                resize: none;
                border: 1px solid var(--black-color);
                margin-bottom: 10px;
            }
            a{
                color:#176999;
            }
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border: 1px solid var(--black-color);
            padding: 1rem 2.5rem;
            input[type="submit"]{
                background-color: #139929;
                color: var(--white-color);
                border: none;
                outline: 0;
                width: 80%;
                height: 2.5rem;
                align-self: center;
            }
            .terminos{
                margin: 1rem 0;
            }
        }
    }
}