.contactenos{
    grid-area: conctacto;
    width: 100%;
    background-image: url("../assets/cursos-virtuales-sena.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    // filter: brightness(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;

    .cont{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2 , auto);
        form{
            h2{
                text-align: center;
            }
            display: flex;
            flex-direction: column;
            padding: 2rem ;
            background-color: #ffffff;
            input[type="text"],
            input[type="email"]{
                width: 100%;
                height: 2rem;
                margin:.5rem 0;
            }
            a{
                text-decoration: none;
                margin: .5rem 0;
            }
            textarea{
                width: 100%;
                height: 6rem;
                resize: none;
            }
            .terminos{
                display: flex;
                flex-direction:row;
                // input[type="checkbox"]{
                //     margin: 0;
                //     padding: 0;
                // }
                label{
                    cursor: pointer;
                }

            }

            input[type="submit"]{
                align-self: center;
                border: none;
                border-radius: 3rem;
                background-color: #ff9100;
                color:#ffffff;
                cursor: pointer;
                height: 2rem;
                margin: 1rem 0;
                outline: 0;
                width: 70%;
            }
        }
    }
}