footer{
    background-color:  rgb(243, 130, 0);
    font-size: 2rem;
    color: #ffffff;
    height: 3rem;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}