.nosotros{
    padding: auto;
    margin: 100px auto;
    width: 70vw;
    grid-area: nosotros;
    .nosotrosconte{
        grid-area: nosotros;
        display: flex;
        // width: 100%;
        // height: 300px;
        justify-content: center;
    
        figure{
            width: 100%;
            height: 100%;
            img{
                width: 400px;
            }
        }
    }
    article{
        text-align: center;
        color:#0d8d4d;
        font-size: 2rem;
    }
}