html{
    font-size: 16px;
    font-family: Helvetica;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-left: 140px;
    color: #ff6b00;
    background: white;
    border-radius: 20px;
    padding: 10px;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}
h2{
    text-align: center;
}

body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
.formuu{
    margin: 30px;
    display: none;
    transition: .10s;
    
    
}
.formuu-aparecer{
    display: block;
}
.botoninicial{
    margin: 30px 150px 30px 150px;
    width: 200px;
    height: 170px;
    background: #ff6b00;
    border: none;
    color: white;
    font-size: 20px;
    transition: .5s;
    
}
.botoninicial:hover{
    cursor: pointer;
    background: rgb(112,178,45);
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 38px 21px 2px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 38px 21px 2px rgba(0,0,0,0.52);
    box-shadow: 0px 38px 21px 2px rgba(0,0,0,0.52);
}
.padre{
    display: flex;
    justify-content: center;
    
    
}
.papa2{
    display: flex;
    justify-content: center;
}
.padre div{
    justify-content: center;
    border: rgb(112,178,45) solid 1px;
    margin: 30px;
}

textarea{
    min-height: 200px;
    min-width: 450px;
    max-width: 450px;
    max-height: 200px;
}
button{
    display: block;
    margin: 10px 120px;
    background: #ff6b00;
    color: white;
    width: 90px;
    height: 50px;
    font-size: 15px;
    border: none;
    transition: .5s;
    
}
.boton2:disabled{
    background: black;

}
.cerrar{
    display: none;
    margin-left: 180px;
    position: absolute;
    top:1060px;
    left: 310px

}
.cerrar2{
    display: none;
    margin-left: 180px;
    position: absolute;
    top:1060px;
    left: 870px
}
.cerrar-aparecer{
    display: block;
}
.cerrar2-aparecer{
    display: block;
}
button:hover{
    background: rgb(112,178,45);
    cursor: pointer;
}
.mis_datos{
    margin: 10px 50px;
}
.texto{
    margin-left: 50px;
}
.bloqueo{
   background: black;
   width: 206px;
   height: 170px;
   position: absolute;
   left: 855px;
   top: 656px;
   color: white;
   text-align: center;
   font-size: 20px;
}
.bloqueo2{
    background: black;
    width: 206px;
    height: 170px;
    position: absolute;
    left: 290px;
    top: 656px;
    color: white;
    text-align: center;
    font-size: 20px; 
}
.bloqueo2 p{
    margin-top: 70px;
}
.bloqueo p{
    margin-top: 70px;
}
#mensajefinalll{
    text-align: center;
    color: rgb(112,178,45);
    font-size: 23px;
}
.desaparecer2{
    visibility: hidden;
}