*{margin:0px;}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 100%;
    height: 5rem;
}
header figure{
    width: 4.5rem;
    height: 4.5rem;
    margin-left: 6rem;
}

header figure img{
    max-width: 100%;
}
header h1{
    margin-left: -64rem;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-top: 2rem;
}
header article{
    align-items: center;
    display:flex;
    justify-content: space-around;
    flex:0 1 12%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
} 
@media screen and (min-width:480px ){

}
header .user{
    margin-right: 4rem;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.datos{
    position: absolute;
    width: 25rem;
    height: 25rem;
    background: rgba(255, 107, 0, 0.4);
    color: white;
    margin-top: -31rem;
    margin-left: 10rem;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.datos h3{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}
.datos p{
    margin-top: 15px;
    margin-left: 20px;
}
.contenedor{
    margin: auto;
	display: table;
}
.contenedor img{
    width: 100%;
    height: 40rem;
}
.contenedor h1{
    position: relative; 
	float: left;
	color: #fff;
	font-size: 6em;
    margin-top: -38rem;
    font-family: monospace; 
    background: #ff6b00;
    padding: 0 100px 0 110px;
    justify-content: center;
}
.contenedor span{
    position:absolute;
    right:0;
    width:0;
    border-left: 1px solid #000;
    background: #ff6b00;
    animation: borrar 3s steps(13) infinite alternate;
}
@keyframes borrar {
    from { width: 100% }
    to { width:0 }
}
nav .uno{
    width: 80vh;
    height: 35vh;
    text-decoration: none;
    margin-top: 10vh;
    margin-left: 20vh;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
nav .uno:hover{
    box-shadow: 5px 5px 10px 2px gray;
}
nav .dos{
    width: 80vh;
    height: 35vh;
    margin-top: -5vh;
    margin-left: 102vh;
    background-color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
nav .dos:hover{
    box-shadow: 5px 5px 10px 2px gray;
}
nav .tres{
    width: 80vh;
    height: 35vh;
    margin-left: 20vh;
    margin-top: -5vh;
    background-color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
nav .tres:hover{
    box-shadow: 5px 5px 10px 2px gray;
}

.enlaces{
    width: 80vh;
    height: 25vh;
    border: 2px solid;
    margin-left: 102vh;
    margin-top: -95vh;
    display: flex;
    justify-content: center;
    background: #ff6b00;
}
.enlaces img{
    width: 50px;
    height: 50px;
}
.enlaces p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}
.enlaces h2{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 6em;
    margin-top: 0px;
    color: white;
}
.enlaces .uno{
    margin-left: -350px;
    margin-top: 60px;
}
.enlaces .uno:hover{
    background: linear-gradient(rgba(255, 107, 0, 0.5),rgb(112,178,45))  ;
    transition: 0.5s;
}
.enlaces .dos{
    margin-left: 50px;
    margin-top: 60px;
}
.enlaces .dos:hover{
    background: linear-gradient(rgba(255, 107, 0, 0.5),rgb(112,178,45))  ;
    transition: 0.5s;
}
.enlaces .tres{
    margin-top: 60px;
    margin-left: 50px;
}
.enlaces .tres:hover{
    background: linear-gradient(rgba(255, 107, 0, 0.5),rgb(112,178,45))  ;
    transition: 0.5s;
}
.enlaces .cuatro{
    margin-top: 60px;
    margin-left: 50px;
}
.enlaces .cuatro:hover{
    background: linear-gradient(rgba(255, 107, 0, 0.5),rgb(112,178,45))  ;
    transition: 0.5s;
}
.enlaces a{
    text-align: center;
}
.grupos {
    width: 80vh;
    height: 18vh;
    border: 2px solid;
    background: #ff6b00;
    justify-content: center;
    margin-top: 12vh;
    margin-left: 20vh;
    cursor: pointer;
}
.grupos:hover{
    background: rgb(112,178,45)  ;
    transition: 0.5s;
    box-shadow: 5px 5px 10px 2px gray;
}
.grupos h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: white;
    margin-left: 3rem;
    margin-top: 2rem;
}
.grupos img{
    width: 120px;
    height: 120px;
}
.grupos .grup{
    position: absolute;
    margin-left: 350px;
    margin-top: -6.5rem;
}
.fas{
    font-size: 30px;
    color:#ff6b00;
    transition: .5s;
    margin: 10px;
}
.fas:hover{
   color: rgb(112,178,45) ;
}
.aceptar{
    width: 80vh;
    height: 27vh;
    border: 2px solid;
    background: #ff6b00;
    justify-content: center;
    margin-top: 75px;
    margin-left: 745px;
    cursor: pointer;

}
.aceptar:hover{
    background: rgb(112,178,45) ;
    transition: 0.6s;
    box-shadow: 5px 5px 10px 2px gray;
}
.aceptar h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    margin-top: 1rem;
    margin-left: 1.5rem;
    justify-content: center;
}
.aceptar img{
    width: 120px;
    height: 120px;
}
.aceptar .acep{
    position: absolute;
    margin-left: 220px;

}
footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background:#ff6b00;
    display: flex;
    align-items: flex-end;
    margin-top: 2rem;
}
footer img{
    margin-left: 20px;
}
.info {
   border-left: solid var(--white);
   margin: 5px; 
}
.info p {
    font-size: 13px;
    color: #fff;
    font-family: Verdana;
    margin: 5px;
    margin-left: 30px;
    font-family: Verdana;
}
.icons {
    margin-left: 380px;
}